.menu li {
  margin:0 auto;
  display:inline;
}

.menu {
      padding: 7px 0px 0px;
      z-index: 10;
      position: fixed;
      background: url(../images/bg_menu.png);
      text-align: center;
      height: 27px;
      width: 100%;
      margin: 0 auto;
}
.menu a{
  color:white!important;
  padding: 7px;
  text-align:center;
  text-decoration:none;
}
.menu a:hover{
  color:#f48147;
}

@media screen and (min-width:720px)  {

.menu a{
    color:white!important;
    padding: 17px;
    text-align:center;
    text-decoration:none;
  }

}
